*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Inter'
}
button{
    border: transparent;
    background-color: transparent;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0rem;

}

/* header */

.header-container{
    width: 100%;
    height: 100%;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1187px;
    min-height: 70px;
    margin: 0 auto;
    padding: 15px 20px;
}
.block-nav__list{
    display: flex;
    justify-content: end;
}
.nav-list{
    display: flex;
    align-items: center;
}
.nav-item:not(:last-child){
    margin-right: 66px;
}
.btn-nav__item{
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    transition: all 0.2s ease-in-out;
}
.btn-nav__item:hover{
    color: #0F9AFE;
}

/* Principal section */

.principal-section{
    width: 100%;
    height: 640px;
    background-color: #EFF8FF;
}
.block-presentation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1187px;
    margin: 0 auto;
    padding: 0 20px;
}
.left-presentation{
    margin-top: 187px;
}
.text-block{
    width: 574px;
}
.text-presentation{
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 60px;
    display: flex;
    align-items: center;
    color: #293145;
}
.block-btn{
    width: 200px;
    height: 56px;
    margin-top: 50px;
}
.btn-principal{
    width: 200px;
    height: 56px;
    background: #0F9AFE;
    box-shadow: 1px 3px 4px rgba(19, 125, 224, 0.5);
    border-radius: 50px;
    padding: 16px 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn-principal:hover{
    background-color: #56b4f8;
}

/* Right presentation */
.right-presentation{
    width: 500px;
    height: 500px;
    margin-top: 70px;
}

/* Second Section */

.second-section{
    width: 100%;
    margin-top: 56px;
}
.block-how-works{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}
.title-how-works{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 50px;
    text-align: center;
    color: #293145;
}
.how-works__list{
    display: flex;
    text-align: center;
    padding: 0;
}
.title-icon{
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #293145;
    margin: 30px 0px 15px 0px;
}
.description-icon{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #6E7275;
}

/* third section */
.third-section{
    width: 100%;
    height: 460px;
    margin-top: 70px;
    background-color: #EFF8FF;
}
.block-download{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1187px;
    margin: 0 auto;
    padding: 0 20px;
}
.download-left{
    width: 600px;
}
.title-download-section{
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    color: #293145;
}
.description-block{
    width: 444px;
    height: 78px;
    margin: 20px 0px 20px 0px;
}
.description-download{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6E7275;
}
.block-btn__description{
    width: 385px;
    height: 55px;
    display: flex;
    justify-content: space-between;
}
.btn-download{
    cursor: pointer;
}

/* fourth section */
.fourth-section{
    margin-top: 70px;
}
.titles-block{
    width: 100%;
    max-width: 570px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 95px;
}
.title-section{
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 50px;
    color: #293145;
    margin-bottom: 15px;
}
.description-plans{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6E7275;
}
.block-plans-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1187px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Card */
.our-plans__list{
    width: 1187px;
    display: flex;
    justify-content: space-between;
}
.our-plans__item{
    width: 370px;
    height: 470px;
    border-radius: 8px;
    background-color: #EFF8FF;
}
.our-plans__item--silver{
    width: 370px;
    height: 470px;
    border-radius: 8px;
    background-color: #293145;
}
.block-up{
    text-align: center;
}
.title-plan{
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #293145;
    padding: 50px 0px 50px 0px;
}
.title-plan--silver{
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 50px 0px 14px 0px;
    display: grid;
    justify-content: center;
}
.good-choice-plan{
    width: 167px;
    height: 27px;
    padding: 5px 32px;
    background: #0F9AFE;
    border-radius: 15px;
    margin-top: 14px;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    color: #FFFFFF;
}
.plan-name{
    display: flex;
    justify-content: center;
}
.caracter-plan-price{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #293145;
}
.caracter-plan-price--silver{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}
.price-plan{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    color: #293145;
}
.price-plan--silver{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    color: #FFFFFF;
}
.credit-card-plan{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #293145;
}
.credit-card-plan--silver{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.block-down{
    display: flex;
    text-align: center;
    margin: 47px 35px 65px 35px;
}
.description-plan__down{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    text-align: center;
    color: #6E7275;
}
.description-plan__down--silver{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}
.block-btn__plan{
    display: flex;
    justify-content: center;
    padding: 0px 70px;
}
.btn-plan{
    width: 230px;
    height: 43px;
    padding: 8px 80px;
    background: #0F9AFE;
    box-shadow: 1px 3px 4px rgba(19, 125, 224, 0.5);
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}

/* Fifth section */
.fifth-section{
    width: 100%;
    height: 360px;
    margin-top: 70px;
}

.banner-img{
    width: 100%;
    position: absolute;
}
.block-contact{
    position: relative;
    width: 100%;
    max-width: 570px;
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
}
.title-contact{
    display: flex;
    justify-content: center;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
}
.description-contact{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #DBDBDB;
    margin-top: 15px;
}
.block-down__contact{
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
}
.input-contact{
    width: 300px;
    height: 45px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    padding: 0px 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.input-contact::placeholder{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.btn-input__contact{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    background: #0F9AFE;
    border-radius: 50px;
    padding: 8px 32px;
    cursor: pointer;
}

/* footer */
.footer{
    width: 100%;
    height: 50px;
}
.container-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}


/* Animation */
[data-anime]{
    opacity: 0;
    transition: 0.3s;
}
[data-anime="left"]{
    transform: translate3d(-50px, 0, 0);
}
[data-anime="right"]{
    transform: translate3d(50px, 0, 0);
}
[data-anime].animation{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}